<br>
<br>
<br>
<br>
<br>
<br>


<div class="container" *ngIf="loginService.isAuthenticated()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="row">


                    <div class="col-md-6">
                        <div class="row">
                            <div class="container">


                                <img alt="imagen registro movimiento" src="https://image.flaticon.com/icons/png/512/124/124653.png" height="200" width="200" class="mx-auto d-block">

                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-light btn-block" style="background-color: #8CD99E;">
                            <a routerLink="/registrarMovimiento"><strong>Registrar Movimiento</strong> </a>
                        </button>
                    </div>


                    <div class="col-md-6">
                        <div class="row">
                            <div class="container">

                                <img alt="imagen consulta movimientos" src="https://image.flaticon.com/icons/png/512/126/126456.png" height="200" width="200" class="mx-auto d-block">
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-light btn-block" style="background-color: #8CD99E;">
                            <a routerLink="/consultarMovimientos"> <strong>Consultar Movimientos</strong> </a>
                        
                    </button>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>