<div class="jumbotron">
    <h2>
        Actualizar persona
    </h2>
    <p>
        Diligencie el siguiente formulario para actualizar una persona
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="form-group">
                        <label for="idPersona">
                          Id de la persona
                        </label>
                        <input type="number" class="form-control" id="idpersona" />
                    </div>
                    <div class="form-group">
                        <label for="idTipoDocumento">
                        Tipo de documento
                      </label>
                        <div class="input-group mb-3">

                            <select class="custom-select" id="idtipodocumento">
                          <option value="1">Cédula</option>
                          <option value="2">Tarjeta de Identidad</option>
                        </select>

                        </div>
                    </div>
                    <div class="form-group">

                        <label for="numeroDocumento">
                          Número de documento
                        </label>
                        <input type="text" class="form-control" id="numerodocumento" />
                    </div>
                    <div class="form-group">

                        <label for="nombres">
                          Nombres
                        </label>
                        <input type="text" class="form-control" id="nombres" />
                    </div>
                    <div class="form-group">

                        <label for="apellidos">
                          Apellidos
                        </label>
                        <input type="text" class="form-control" id="apellidos" />
                    </div>

                    <button type="submit" class="btn btn-success">Actualizar persona</button>

                </form>
            </div>
        </div>
    </div>
</div>