<div class="jumbotron">
    <h2>
        Eliminar persona
    </h2>
    <p>
        Ingrese el Id de la persona que desea eliminar
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="form-group">
                        <label for="idPersona">
                          Id de la persona
                        </label>
                        <input type="number" class="form-control" id="idpersona" />
                    </div>


                    <button type="submit" class="btn btn-danger">Eliminar persona</button>

                </form>
            </div>
        </div>
    </div>
</div>