<div class="jumbotron">
    <h2>
        {{titulo}}
    </h2>
    <p>
        Diligencie el siguiente formulario para el registro de una persona
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form (ngSubmit)="registrar()" #personaForm="ngForm" autocomplete="off">


                    <div class="form-group">
                        <label for="idTipoDocumento">
                        Tipo de documento
                      </label>
                        <div class="input-group mb-3">

                            <select class="form-control" name="tipoDocumento" id="tipoDocumento" #tipoDocumento="ngModel" [(ngModel)]="persona.tipoDocumento" [compareWith]="compararTipoDocumento" required>
                                <option>--Seleccione--</option>

                          <option *ngFor="let tipoDocumento of listaTipoDocumentos" [ngValue]="tipoDocumento">{{tipoDocumento.nombreDocumento}}</option>
                        </select>

                        </div>
                    </div>












                    <div class="form-group">

                        <label for="numeroDocumento">
                          Número de documento
                        </label>
                        <input type="text" class="form-control" name="numeroDocumento" id="numeroDocumento" #numeroDocumento="ngModel" [(ngModel)]="persona.numeroDocumento" placeholder="Ingrese un número de documento" minlength="3" required/>
                        <div class="alert alert-danger" *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) ">
                            <div *ngIf="numeroDocumento?.errors.required ">El número de documento es obligatorio</div>
                            <div *ngIf="numeroDocumento?.errors.minlength ">El número de documento debe tener almenos 3 caracteres</div>

                        </div>
                    </div>



                    <div class="form-group">

                        <label for="nombres">
                          Nombres
                        </label>
                        <input type="text" class="form-control" name="nombres" id="nombres" #nombres="ngModel" [(ngModel)]="persona.nombres" placeholder="Ingrese un nombre" minlength="3" required/>
                        <div class="alert alert-danger" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                            <div *ngIf="nombres?.errors.required">El nombre es obligatorio</div>
                            <div *ngIf="nombres?.errors.minlength">El nombre debe terner al menos 3 caracteres</div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="apellidos">
                          Apellidos
                        </label>
                        <input type="text" class="form-control" name="apellidos" id="apellidos" #apellidos="ngModel" [(ngModel)]="persona.apellidos" placeholder="Ingrese los apellidos" minlength="3" required />
                        <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                            <div *ngIf="apellidos?.errors.required">El apellido es obligatorio</div>
                            <div *ngIf="apellidos?.errors.minlength">El apellido debe terner al menos 3 caracteres</div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!personaForm.form.valid">
                        {{textoBoton}}
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>