<div class="jumbotron">
    <h2>
        Personas registradas
    </h2>
    <p>
        Este es el listado de las personas registradas en el sistema
    </p>


    <div *ngIf="listadoPersonas.length === 0">

        <div class="alert alert-warning">
            <strong>Atención</strong> Actualmente no hay registros existentes en el sistema
        </div>
    </div>


    <div *ngIf="listadoPersonas.length !== 0">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>



                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let persona of listadoPersonas">
                    <td>{{persona.idPersona}}</td>
                    <th scope="row">{{(persona.tipoDocumento.nombreDocumento | uppercase)+' '+persona.numeroDocumento}}</th>
                    <td>{{persona.nombres | uppercase}}</td>
                    <td>{{persona.apellidos | uppercase}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="actualizarPersona(persona)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="eliminarPersona(persona)">Eliminar</button></td>
                </tr>




        </table>
    </div>

</div>